@charset "UTF-8";

.tdc--landing-page__section {
  margin-bottom: 32px;
}

.tdc--writing__article {
  margin-bottom: 78px;
}

.tdc--toggle__container {
  margin-bottom: 48px;
}

.tdc--toggle__content h3 {
  margin-bottom: 32px;
}

.tdc--toggle__content p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 22px;
}

.code--container {
  position: relative;
  padding: 8px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--bg-accent);
}

.code--container pre {
  font-size: 12px;
}

/* MARKUP */
.code--markup {
  color: var(--hover-color);
  font-size: 12px;
}

.comment--code {
  color: var(--bg-accent);
  font-size: 0.8em;
}
