/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";

pre {
  border-radius: 4px;
  overflow-x: auto;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

code.language-bash {
  font-size: 12px!important;;
}

.tdc--landing-page__section {
  margin-bottom: 32px;
}

.tdc--writing__article {
  margin-bottom: 78px;
}

.tdc--toggle__container {
  margin-bottom: 48px;
}


.tdc--toggle__content h3 {
  margin-bottom: 32px;
}

.tdc--toggle__content p {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 22px;
}

.code--container {
  position: relative;
  padding: 8px 12px;
  margin-bottom: 24px;
  border-radius: 8px;
  background-color: var(--bg-accent);
}

.code--container pre {
  font-size: 12px;
}

.tdc--git__box {
  margin-bottom: 32px;
}

.tdc--git__box h4 {
  margin-bottom: 14px;
}

/* MARKUP */
.code--markup {
  color: var(--hover-color);
  font-size: 12px;
}

.comment--code {
  color: var(--bg-accent);
  font-size: 0.8em;
}

.error--text {
  color: #dc143c;
}

.highlight--text {
  color: var(--hover-color);
}

.code--container__list {
  padding-left: 15px;
}

.code--container__list li {
  font-size: 14px;
}