/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
/* CSS Document */
/* Global Styles */
:root {
  --bg-color: #222831;
  --bg-accent: #6a6d70;
  --text-color: #ffffff;
  --text-color-accent: #948979;
  --hover-color: #dfd0b8;
  --base-black: #000000;
  --error-text: #dc143c;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  color: var(--bg-accent);
  background-color: var(--text-color);
}

::selection {
  color: var(--bg-accent);
  background-color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-black);
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--bg-accent);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  margin: 0;
}

hr {
  background-color: var(--bg-color);
  height: 2px;
  border: 0;
  width: 70%;
  margin: 0 auto;
}

li {
  line-height: 26px;
  list-style: none;
}

li::before {
  content: "•";
  color: var(--text-color);
  font-weight: 700;
  display: inline-block;
  width: 16px;
  margin-left: -16px;
}

body.fade--out {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.tdc--main {
  width: 100%;
}

.inner {
  max-width: 650px;
  padding: 0 16px;
  margin: 0 auto;
}

.tdc--header__container {
  position: relative;
  margin: 64px 0 24px 0;
}

.tdc--header__container .tdc--hovered__txt {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  min-height: 22px;
  overflow: hidden;
}

.tdc--header__container .tdc--hovered__txt::after,
.tdc--header__container .tdc--hovered__txt::before {
  content: "Cristian Paul Castañeda";
  position: absolute;
  width: 100%;
  font-weight: 500;
  line-height: normal;

  -webkit-transition: all 400ms;

  -o-transition: all 400ms;

  transition: all 400ms;
  top: 0;
}

.tdc--header__container .tdc--hovered__txt:hover::after {
  top: -40px;
}

.tdc--header__container .tdc--hovered__txt::before {
  content: "thedevcristian";
  top: 40px;
  color: var(--hover-color);
}

.tdc--header__container .tdc--hovered__txt:hover::before {
  top: 0px;
}

/* ABOUT PAGE */

.tdc--about__section {
  margin: 0 0 32px 0;
}
.tdc--about__section .tdc--about__description p {
  line-height: 24px;
  font-weight: 400;
}

/* WRITING */
.tdc--writing__section {
  margin-bottom: 32px;
}
.tdc--writing__description h3 {
  margin-bottom: 12px;
}

.tdc--writing__description ul {
  padding: 12px 24px;
}

/* PROJECT */
.tdc--project__section {
  margin-bottom: 32px;
}
.tdc--project__description h3 {
  margin-bottom: 12px;
}
.tdc--project__description ul {
  padding: 12px 24px;
}

/* PROJECT CONTENT */
.tdc--project__container {
  width: 100%;
  overflow: hidden;
}
.tdc--project__item {
  position: relative;
  max-width: 100%;
  width: 480px;
  height: 100%;
  margin: 0 auto 24px;
  border-radius: 8px;
}

.tdc--project__item img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.tdc--project__lp__description,
.tdc--project__ilp__description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 14px;
  background-color: var(--bg-accent);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.tdc--project__lp__description .tdc--project__content h2,
.tdc--project__ilp__description .tdc--project__content h2 {
  font-size: 16px;
  line-height: 26px;
}
.tdc--project__lp__description .tdc--project__content small,
.tdc--project__ilp__description .tdc--project__content small {
  color: var(--hover-color);
  font-weight: 700;
}
.tdc--project__lp__description .tdc--project__link a,
.tdc--project__ilp__description .tdc--project__link a {
  font-size: 16px;
  color: var(--text-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* CODE */
.tdc--codes__section {
  margin-bottom: 32px;
}
.tdc--codes__description h3 {
  margin-bottom: 12px;
}
.tdc--codes__description ul {
  padding: 12px 24px;
}

/* ACCORDION */
.accordion--holder__item {
  margin-bottom: 32px;
}
.accordion--holder__title {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 24px;
  text-decoration: underline;
}

.accordion--holder__title + .accordion--holder__content {
  display: none;
}

.accordion--holder__title.active + .accordion--holder__content {
  display: block;
}

.accordion--holder__content {
  padding: 0 16px;
}

.accordion--holder__content table {
  width: 100%;
  max-width: 100%;
  border-radius: 30px;
  margin-bottom: 24px;
}
.accordion--holder__content table,
.accordion--holder__content table th,
.accordion--holder__content table td {
  border: 1px solid #161616;
  border-collapse: collapse;
  text-align: center;
  padding: 8px 10px;
  font-size: 12px;
}

.accordion--holder__content table thead {
  border-top-left-radius: 8px;
}

.accordion--holder__content table td {
  background-color: var(--bg-color);
}

.code--container__content {
  margin-bottom: 24px;
}

.code--container__content code {
  display: block;
  background-color: var(--bg-color);
  color: var(--text-color-accent);
  padding: 14px 12px;
  border-radius: 8px;
  max-width: 100%;
  width: 100%;
}

/* FOOTER */
.tdc--footer__container {
  padding: 18px 16px;
}
.tdc--footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 18px;
}
.tdc--footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px;
}

.tdc--footer__copy p {
  color: var(--bg-accent);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    color: var(--hover-color);
  }

  /* PROJECT DESCRIPTION */
  .tdc--project__lp__description .tdc--project__link a:hover,
  .tdc--project__ilp__description .tdc--project__link a:hover {
    color: var(--hover-color);
  }
}

@media (max-width: 1360px) and (min-width: 1024px) {
}

@media (max-width: 1360px) {
}
@media (max-width: 1023px) {
}
@media (max-width: 767px) {
  .inner {
    padding: 0 8px;
  }

  pre {
    font-size: 0.8em;
  }
}
@media (max-width: 375px) {
  body {
    min-width: 250px;
  }
}
